@media screen and (max-width: 767px) {
  body {
    width: 100%;
    height: 1500px;
    margin: 0;
  }

  h1 {
    font-family: "Shrikhand", sans-serif;
    display: flex;
    width: 100%;
    font-size: 55px;
    padding: 30px 0px 25px 0px;
    margin: 0;
    justify-content: space-around;
  }

  h2 {
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    width: 50%;
  }

  .h2_deuxieme-div {
    display: flex;
    font-size: 50px;
    width: 65%;
    text-align: center;
    margin: 10px 0px 0px 0px;
  }

  p {
    font-family: "Roboto", sans-serif;
  }

  .p_deuxieme-div {
    font-size: 30px;
    width: 75%;
  }

  .p_deuxieme-div-header {
    font-size: 35px;
    width: 90%;
    font-weight: lighter;
    text-align: center;
    margin: 30px 0px 20px 0px;
  }

  button {
    width: 50%;
    border-radius: 50px;
    height: 90px;
    font-size: 28px;
    box-shadow: 11px 12px 12px -4px rgba(0, 0, 0, 0.09);
    -webkit-box-shadow: 11px 12px 12px -4px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 11px 12px 12px -4px rgba(0, 0, 0, 0.09);
    background: #ee1fd5;
    background: linear-gradient(180deg, #ee1fd5 50%, #a514f6 100%);
    background: -webkit-linear-gradient(180deg, #ee1fd5 50%, #a514f6 100%);
    background: -moz-linear-gradient(180deg, #ee1fd5 50%, #a514f6 100%);
    border-style: none;
    color: white;
    margin: 20px 0px 20px 0px;
  }

  .premiere_div {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    margin: 0;

    background-color: rgb(226, 226, 226);
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    box-shadow: -1px 5px 5px 0px rgba(41, 40, 40, 0.42) inset;
    -webkit-box-shadow: -1px 5px 5px 0px rgba(0, 0, 0, 0.42) inset;
    -moz-box-shadow: -1px 9px 5px 0px rgba(0, 0, 0, 0.42) inset;
  }

  .deuxieme_div {
    margin: 0px;
    padding: 30px 0px 0px 0px;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: rgb(241, 241, 241);
    box-shadow: -1px 5px 5px 0px rgba(133, 129, 129, 0.42) inset;
    -webkit-box-shadow: -1px 5px 5px 0px rgba(0, 0, 0, 0.42) inset;
    -moz-box-shadow: -1px 9px 5px 0px rgba(0, 0, 0, 0.42) inset;
    align-items: center;
    gap: 10px;
  }

  .section_fonctionnement {
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .troisieme_div {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .div_fonction {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-size: 25px;
    padding: 0px 0px 0px 400px;
    background-color: rgb(241, 241, 241);
  }
}
