@media screen and (max-width: 767px) {
  body {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  /*Géneral*/

  a {
    font-family: "Roboto", sans-serif;
    font-size: 29px;
    width: auto;
  }

  .a {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
  }

  .a-1 {
    font-family: "Roboto", sans-serif;
    font-size: 35px;
  }

  button {
    display: flex;
    width: 50%;
    border-radius: 50px;
    height: 90px;
    font-size: 28px;
    box-shadow: 11px 12px 12px -4px rgba(0, 0, 0, 0.09);
    background: linear-gradient(
      180deg,
      rgb(231, 114, 218) 0%,
      rgb(177, 95, 221) 60%
    );
    color: #ffffff;
    border-style: none;
    margin: 10% 0px 10% 0px;
    justify-content: center;
    align-items: center;
    &:hover {
      background-image: linear-gradient(
        179deg,
        rgb(252, 132, 218) -11.44%,
        rgb(155, 99, 223) 123.93%
      );
      box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
    }
  }

  h1 {
    font-family: "Shrikhand", sans-serif;
    display: flex;
    width: 75%;
    font-size: 44px;
    padding: 4% 0px 2% 0px;
    margin: 0;
    justify-content: space-around;
    letter-spacing: 2px;
  }

  h2 {
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    width: 10%;
    border-bottom: #99e2d0 solid 6px;
    padding-bottom: 0%;
    margin: 0px 0px 0px 3%;
    font-weight: 100;
  }

  h6 {
    font-family: "Shrikhand", sans-serif;
    font-size: 35px;
    margin: 0;
  }

  img {
    display: flex;
    width: 100%;
    height: 70%;
    object-fit: cover;
    position: relative;
    z-index: -1;
  }

  p {
    font-family: "Roboto", sans-serif;
    font-size: 28px;
    margin: 0;
  }

  .p-1 {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 34px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .p-2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .p_deuxieme-div {
    font-size: 30px;
    width: 75%;
  }

  /*Header*/

  header {
    display: flex;
    align-items: baseline;
  }

  .fa-solid.fa-arrow-left {
    font-size: 40px;
    margin: 0px 0px 0px 50px;
    color: black;
  }

  .fa-solid.fa-arrow-left:active {
    text-decoration: none;
    color: black;
  }

  /*Main*/

  .main {
    width: 100%;
    height: auto;
    display: flex;
    background-color: #f6f6f6;
    flex-direction: column;
    margin: -40% auto 0px auto;
    border-top-right-radius: 2.5em;
    border-top-left-radius: 2.5em;
    z-index: 2;
  }

  .titre {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 6% 0% 4% 4%;
    gap: 6%;
  }

  /*Logo cœur*/

  .fa-regular.fa-heart {
    transition: all 0.5s ease-in-out;
    color: transparent;
    background-clip: text;
    background-color: black;
    &:hover {
      opacity: 1;
    }
  }

  .fa-solid.fa-heart {
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease-in-out;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(
      193.33deg,
      #9356dc -11.44%,
      #ff79da 123.93%
    );
    &:hover {
      opacity: 1;
    }
  }

  .fa-regular.fa-heart {
    font-size: 45px;
  }

  .fa-solid.fa-heart {
    font-size: 46.5px;
  }

  .contenu_carte_restaurant-2 {
    display: flex;
    width: 20%;
    padding: 0% 6% 0% 0%;
    justify-content: flex-end;
  }

  /*Menu*/

  .div_0 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 7% 0px;
  }

  .div_1 {
    width: 95%;
    height: 4em;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 3% 0px 3% 0px;
    font-size: 35px;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 11px 12px 12px -4px rgba(0, 0, 0, 0.09);
    -webkit-box-shadow: 11px 12px 12px -4px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 11px 12px 12px -4px rgba(0, 0, 0, 0.09);
  }

  .div_2 {
    display: flex;
    width: 90%;
    flex-direction: column;
    gap: 6px;
    padding: 0% 0% 0% 4%;
  }

  .div_3 {
    display: flex;
    width: 10%;
    height: 100%;
    padding: 0% 4% 9% 0%;
    font-size: 5px;
    justify-content: flex-end;
    align-items: flex-end;
    transition: all 0.5s ease-out;
  }

  .div_4 {
    opacity: 1;
    background-color: #99e2d0;
    width: 59px;
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: -60px;
    transition: margin-right 0.5s ease-out;
  }

  .div_4 i {
    color: white;
    font-size: 22px;
  }

  .div_1:hover .div_4 {
    margin-right: 60px;
  }

  .div_3 {
    transition: all 0.5s ease-out;
  }

  .div_1:hover .div_3 {
    transform: translateX(-60px);
  }

  .bouton-centre {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .carte__menu {
    animation: fondu 1s forwards;
    opacity: 0;
    overflow: hidden;
    &__entree {
      animation-delay: 0.5s;
    }
    &__plat {
      animation-delay: 1.5s;
    }
    &__dessert {
      animation-delay: 2.5s;
    }
  }

  @keyframes fondu {
    from {
      opacity: 0;
      transform: scale(0);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  .container__plat {
    animation: swipe 1s forwards;
    opacity: 0;
    &__start {
      animation-delay: 0.5s;
    }
    &__middle {
      animation-delay: 1.5s;
    }
    &__end {
      animation-delay: 2.5s;
    }
  }

  @keyframes swipe {
    from {
      opacity: 0;
      transform: translateX(-100px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  /*Footer*/

  .section_footer {
    background-color: #353535;
    color: #ffffff;
    font-size: 29px;
    padding: 5% 0px 4.3% 4.3%;
    margin: 0px 0px 0px 0px;
    width: auto;
  }

  .section_footer-1 {
    display: flex;
    margin: 0px 0px 3% 0px;
    font-weight: 100;
  }

  .section_footer-2 {
    display: flex;
    align-items: baseline;
    gap: 20px;
    margin: 0px 0px;
  }

  .fa-solid.fa-utensils {
    font-size: 22px;
  }

  .section_footer-3 {
    display: flex;
    align-items: baseline;
    gap: 12px;
    margin: 0px;
  }

  .fa-solid.fa-handshake-angle {
    font-size: 22px;
  }

  .section_footer-p {
    margin: 8px 0px 0px 0px;
  }
}

/*Adaptation*/

@media screen and (max-width: 675px) {
  .titre {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 3% 0% 3% 3%;
    gap: 5.5%;
  }

  h1 {
    font-family: "Shrikhand", sans-serif;
    display: flex;
    width: 75%;
    font-size: 40px;
    padding: 3% 0px 1.5% 0px;
    margin: 0;
    justify-content: space-around;
    letter-spacing: 2px;
  }

  h2 {
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    width: 12%;
    border-bottom: #99e2d0 solid 6px;
    padding-bottom: 0%;
    margin: 0px 0px 0px 3%;
    font-weight: 100;
  }

  .section_footer {
    padding-top: 5%;
  }

  .fa-solid.fa-heart {
    font-size: 43.5px;
  }

  .fa-regular.fa-heart {
    font-size: 42px;
  }

  .div_1 {
    width: 95%;
    height: 4em;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 3% 0px 3% 0px;
    font-size: 35px;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 11px 12px 12px -4px rgba(0, 0, 0, 0.09);
    -webkit-box-shadow: 11px 12px 12px -4px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 11px 12px 12px -4px rgba(0, 0, 0, 0.09);
  }

  p {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    margin: 0;
  }

  .p-1 {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 29px;
  }

  .div_2 {
    display: flex;
    width: 90%;
    flex-direction: column;
    gap: 6px;
    padding: 0% 0% 0% 4%;
  }

  .div_3 {
    display: flex;
    width: 10%;
    height: 100%;
    padding: 0% 4% 11.5% 0%;
    font-size: 5px;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .section_footer-2 {
    display: flex;
    align-items: baseline;
    gap: 20px;
    margin: 0px 0px;
  }

  .section_footer-3 {
    display: flex;
    align-items: baseline;
    gap: 12px;
    margin: 0px;
  }

  .fa-solid.fa-handshake-angle {
    font-size: 20px;
  }

  .fa-solid.fa-utensils {
    font-size: 20px;
  }
}

/*Régler les détailles à partir de 620px*/

@media screen and (max-width: 605px) {
  h1 {
    font-family: "Shrikhand", sans-serif;
    display: flex;
    width: 75%;
    font-size: 40px;
    padding: 3% 0px 1.5% 0px;
    margin: 0;
    justify-content: space-around;
    letter-spacing: 2px;
  }
}

@media screen and (max-width: 600px) {
  .main {
    border-top-right-radius: 4em;
    border-top-left-radius: 4em;
  }

  .titre {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 3% 0% 3% 3%;
    gap: 5.5%;
  }

  h1 {
    font-family: "Shrikhand", sans-serif;
    display: flex;
    width: 75%;
    font-size: 33px;
    padding: 3% 0px 1.5% 0px;
    margin: 0;
    justify-content: space-around;
    letter-spacing: 2px;
  }

  h2 {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    width: 12%;
    border-bottom: #99e2d0 solid 6px;
    padding-bottom: 0%;
    margin: 0px 0px 0px 3%;
    font-weight: 100;
  }

  h6 {
    font-size: 28px;
  }

  .fa-solid.fa-heart {
    font-size: 41.5px;
  }

  .fa-regular.fa-heart {
    font-size: 40px;
  }

  .div_1 {
    width: 95%;
    height: 3.5em;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 3% 0px 3% 0px;
    font-size: 35px;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 11px 12px 12px -4px rgba(0, 0, 0, 0.09);
    -webkit-box-shadow: 11px 12px 12px -4px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 11px 12px 12px -4px rgba(0, 0, 0, 0.09);
  }

  p {
    font-family: "Roboto", sans-serif;
    font-size: 21px;
    margin: 0;
  }

  .p-1 {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 29px;
  }

  .div_2 {
    display: flex;
    width: 90%;
    flex-direction: column;
    gap: 6px;
    padding: 0% 0% 0% 4%;
  }

  .div_3 {
    display: flex;
    width: 10%;
    height: 100%;
    padding: 0% 3.3% 10.2% 0%;
    font-size: 5px;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .div_4 i {
    margin-top: 15%;
  }
}
@media screen and (max-width: 525px) {
  h1 {
    font-family: "Shrikhand", sans-serif;
    display: flex;
    width: 75%;
    font-size: 31px;
    padding: 3% 0px 1.5% 0px;
    margin: 0;
    justify-content: space-around;
    letter-spacing: 2px;
  }

  .fa-solid.fa-heart {
    font-size: 36.5px;
  }

  .fa-regular.fa-heart {
    font-size: 35px;
  }
}

@media screen and (max-width: 500px) {
  .titre {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 3% 0% 3% 3%;
    gap: 5%;
  }

  .fa-solid.fa-arrow-left {
    font-size: 35px;
    margin: 0px 0px 0px 35px;
    color: black;
  }

  h1 {
    font-family: "Shrikhand", sans-serif;
    display: flex;
    width: 75%;
    font-size: 27px;
    padding: 3% 0px 1.5% 0px;
    margin: 0;
    justify-content: space-around;
    letter-spacing: 2px;
  }

  h2 {
    font-family: "Roboto", sans-serif;
    font-size: 28px;
    width: 14%;
    border-bottom: #99e2d0 solid 6px;
    padding-bottom: 0%;
    margin: 0px 0px 0px 3%;
    font-weight: 100;
  }

  .fa-solid.fa-heart {
    font-size: 34.5px;
  }

  .fa-regular.fa-heart {
    font-size: 33px;
  }

  .div_1 {
    width: 95%;
    height: 3em;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 3% 0px 3% 0px;
    font-size: 35px;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 11px 12px 12px -4px rgba(0, 0, 0, 0.09);
    -webkit-box-shadow: 11px 12px 12px -4px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 11px 12px 12px -4px rgba(0, 0, 0, 0.09);
  }

  p {
    font-family: "Roboto", sans-serif;
    font-size: 19px;
    margin: 0;
  }

  .p-1 {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 24px;
  }

  .div_2 {
    display: flex;
    width: 90%;
    flex-direction: column;
    gap: 6px;
    padding: 0% 0% 0% 4%;
  }

  .div_3 {
    display: flex;
    width: 10%;
    height: 100%;
    padding: 0% 2.9% 9.5% 0%;
    font-size: 5px;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .div_4 i {
    margin-top: 50%;
  }

  button {
    display: flex;
    width: 50%;
    border-radius: 50px;
    height: 70px;
    font-size: 25px;
    box-shadow: 11px 12px 12px -4px rgba(0, 0, 0, 0.09);
    background: linear-gradient(
      180deg,
      rgb(231, 114, 218) 0%,
      rgb(177, 95, 221) 60%
    );
    color: #ffffff;
    border-style: none;
    margin: 10% 0px 10% 0px;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 450px) {
  .titre {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 3% 0% 3% 4%;
    gap: 5%;
  }

  .fa-solid.fa-arrow-left {
    font-size: 35px;
    margin: 0px 0px 0px 35px;
    color: black;
  }

  h1 {
    font-family: "Shrikhand", sans-serif;
    display: flex;
    width: 75%;
    font-size: 25px;
    padding: 3% 0px 1.5% 0px;
    margin: 0;
    justify-content: space-around;
    letter-spacing: 2px;
  }

  h2 {
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    width: 14%;
    border-bottom: #99e2d0 solid 4px;
    padding-bottom: 0%;
    margin: 0px 0px 0px 3%;
    font-weight: 100;
  }

  .fa-solid.fa-handshake-angle {
    font-size: 18px;
  }

  .fa-solid.fa-utensils {
    font-size: 18px;
  }

  .fa-solid.fa-heart {
    font-size: 31.5px;
  }

  .fa-regular.fa-heart {
    font-size: 30px;
  }

  .div_0 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 5% 0px;
  }

  .div_1 {
    width: 95%;
    height: 2.5em;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 3% 0px 3% 0px;
    font-size: 35px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 11px 12px 12px -4px rgba(0, 0, 0, 0.09);
    -webkit-box-shadow: 11px 12px 12px -4px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 11px 12px 12px -4px rgba(0, 0, 0, 0.09);
  }

  p {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    margin: 0;
  }

  .p-1 {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 21px;
  }

  .div_2 {
    display: flex;
    width: 90%;
    flex-direction: column;
    gap: 6px;
    padding: 0% 0% 0% 4%;
  }

  .div_3 {
    display: flex;
    width: 10%;
    height: 100%;
    padding: 0% 2.9% 9.5% 0%;
    font-size: 5px;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .div_4 i {
    margin-top: 80%;
  }

  button {
    display: flex;
    width: 50%;
    border-radius: 50px;
    height: 60px;
    font-size: 25px;
    box-shadow: 11px 12px 12px -4px rgba(0, 0, 0, 0.09);
    background: linear-gradient(
      180deg,
      rgb(231, 114, 218) 0%,
      rgb(177, 95, 221) 60%
    );
    color: #ffffff;
    border-style: none;
    margin: 7.5% 0px 7.5% 0px;
    justify-content: center;
    align-items: center;
  }

  .bouton-centre {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}

@media screen and (max-width: 415px) {
  .titre {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 3% 0% 3% 4%;
    gap: 5%;
  }

  .fa-solid.fa-arrow-left {
    font-size: 30px;
    margin: 0px 0px 0px 30px;
    color: black;
  }

  h1 {
    font-family: "Shrikhand", sans-serif;
    display: flex;
    width: 75%;
    font-size: 23px;
    padding: 3% 0px 1.5% 0px;
    margin: 0;
    justify-content: space-around;
    letter-spacing: 2px;
  }

  h2 {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    width: 12%;
    border-bottom: #99e2d0 solid 4px;
    padding-bottom: 0%;
    margin: 0px 0px 0px 3%;
    font-weight: 100;
  }

  .fa-solid.fa-heart {
    font-size: 26.5px;
  }

  .fa-regular.fa-heart {
    font-size: 25px;
  }

  .div_0 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 5% 0px;
  }

  .div_1 {
    width: 95%;
    height: 2.2em;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 3% 0px 3% 0px;
    font-size: 35px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 11px 12px 12px -4px rgba(0, 0, 0, 0.09);
    -webkit-box-shadow: 11px 12px 12px -4px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 11px 12px 12px -4px rgba(0, 0, 0, 0.09);
  }

  p {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    margin: 0;
  }

  .p-1 {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 19px;
  }

  .div_2 {
    display: flex;
    width: 90%;
    flex-direction: column;
    gap: 6px;
    padding: 0% 0% 0% 4%;
  }

  .div_3 {
    display: flex;
    width: 10%;
    height: 100%;
    padding: 0% 2.9% 7.5% 0%;
    font-size: 5px;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .div_4 i {
    margin-top: 90%;
  }

  button {
    display: flex;
    width: 50%;
    border-radius: 50px;
    height: 45px;
    font-size: 17px;
    box-shadow: 11px 12px 12px -4px rgba(0, 0, 0, 0.09);
    background: linear-gradient(
      180deg,
      rgb(231, 114, 218) 0%,
      rgb(177, 95, 221) 60%
    );
    color: #ffffff;
    border-style: none;
    margin: 7.5% 0px 7.5% 0px;
    justify-content: center;
    align-items: center;
  }

  .bouton-centre {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}

@media screen and (max-width: 375px) {
  .main {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }

  .titre {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 3% 0% 3% 4.5%;
    gap: 3%;
  }

  .fa-solid.fa-arrow-left {
    font-size: 25px;
    margin: 0px 0px 0px 20px;
    color: black;
  }

  h1 {
    font-family: "Shrikhand", sans-serif;
    display: flex;
    width: 75%;
    font-size: 21px;
    padding: 3% 0px 1.5% 0px;
    margin: 0;
    justify-content: space-around;
    letter-spacing: 2px;
  }

  h2 {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    width: 12%;
    border-bottom: #99e2d0 solid 4px;
    padding-bottom: 0%;
    margin: 0px 0px 0px 3%;
    font-weight: 100;
  }

  .fa-solid.fa-heart {
    font-size: 24.5px;
  }

  .fa-regular.fa-heart {
    font-size: 23px;
  }

  .div_0 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 5% 0px;
  }

  .div_1 {
    width: 95%;
    height: 2.2em;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 3% 0px 3% 0px;
    font-size: 35px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 11px 12px 12px -4px rgba(0, 0, 0, 0.09);
    -webkit-box-shadow: 11px 12px 12px -4px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 11px 12px 12px -4px rgba(0, 0, 0, 0.09);
  }

  p {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    margin: 0;
  }

  .p-1 {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 17px;
  }

  .div_2 {
    display: flex;
    width: 90%;
    flex-direction: column;
    gap: 6px;
    padding: 0% 0% 0% 4%;
  }

  .div_3 {
    display: flex;
    width: 10%;
    height: 100%;
    padding: 0% 2.9% 9.5% 0%;
    font-size: 5px;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .div_4 i {
    margin-top: 100%;
  }

  button {
    display: flex;
    width: 50%;
    border-radius: 50px;
    height: 45px;
    font-size: 17px;
    box-shadow: 11px 12px 12px -4px rgba(0, 0, 0, 0.09);
    background: linear-gradient(
      180deg,
      rgb(231, 114, 218) 0%,
      rgb(177, 95, 221) 60%
    );
    color: #ffffff;
    border-style: none;
    margin: 7.5% 0px 7.5% 0px;
    justify-content: center;
    align-items: center;
  }

  .bouton-centre {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}

@media screen and (max-width: 350px) {
  .main {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }

  .titre {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 3% 0% 3% 4.5%;
    gap: 3%;
  }

  .fa-solid.fa-arrow-left {
    font-size: 25px;
    margin: 0px 0px 0px 20px;
    color: black;
  }

  h1 {
    font-family: "Shrikhand", sans-serif;
    display: flex;
    width: 75%;
    font-size: 18px;
    padding: 3% 0px 1.5% 0px;
    margin: 0;
    justify-content: space-around;
    letter-spacing: 2px;
  }

  h2 {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    width: 12%;
    border-bottom: #99e2d0 solid 4px;
    padding-bottom: 0%;
    margin: 0px 0px 0px 3%;
    font-weight: 100;
  }

  .fa-solid.fa-heart {
    font-size: 21.5px;
  }

  .fa-regular.fa-heart {
    font-size: 20px;
  }

  .div_0 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 5% 0px;
  }

  .div_1 {
    width: 95%;
    height: 2.2em;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 3% 0px 3% 0px;
    font-size: 35px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 11px 12px 12px -4px rgba(0, 0, 0, 0.09);
    -webkit-box-shadow: 11px 12px 12px -4px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 11px 12px 12px -4px rgba(0, 0, 0, 0.09);
  }

  p {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    margin: 0;
  }

  .p-1 {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 17px;
  }

  .div_2 {
    display: flex;
    width: 90%;
    flex-direction: column;
    gap: 6px;
    padding: 0% 0% 0% 4%;
  }

  .div_3 {
    display: flex;
    width: 10%;
    height: 100%;
    padding: 0% 2.9% 12% 0%;
    font-size: 5px;
    justify-content: flex-end;
    align-items: flex-end;
  }

  button {
    display: flex;
    width: 50%;
    border-radius: 50px;
    height: 45px;
    font-size: 17px;
    box-shadow: 11px 12px 12px -4px rgba(0, 0, 0, 0.09);
    background: linear-gradient(
      180deg,
      rgb(231, 114, 218) 0%,
      rgb(177, 95, 221) 60%
    );
    color: #ffffff;
    border-style: none;
    margin: 7.5% 0px 7.5% 0px;
    justify-content: center;
    align-items: center;
  }

  .bouton-centre {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}
