@media screen and (max-width: 767px) {
  body {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  /*Géneral*/

  a {
    font-family: "Roboto", sans-serif;
    font-size: 29px;
    width: auto;
  }

  .a {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
  }

  .a-1 {
    font-family: "Roboto", sans-serif;
    font-size: 35px;
  }

  button {
    width: 50%;
    border-radius: 50px;
    height: 90px;
    font-size: 28px;
    box-shadow: 11px 12px 12px -4px rgba(0, 0, 0, 0.09);
    -webkit-box-shadow: 11px 12px 12px -4px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 11px 12px 12px -4px rgba(0, 0, 0, 0.09);
    background: rgb(231, 114, 218);
    background: linear-gradient(
      180deg,
      rgba(231, 114, 218, 1) 0%,
      rgba(177, 95, 221, 1) 60%
    );
    border-style: none;
    color: white;
    margin: 20px 0px 20px 0px;
  }

  h1 {
    font-family: "Shrikhand", sans-serif;
    display: flex;
    width: 75%;
    font-size: 55px;
    padding: 40px 0px 25px 0px;
    margin: 0;
    justify-content: space-around;
    letter-spacing: 2px;
  }

  h2 {
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    width: 13%;
    border-bottom: #99e2d0 solid 5px;
    padding-bottom: 5px;
    margin: 0px 0px 0px 3%;
    font-weight: 100;
  }

  h6 {
    font-family: "Shrikhand", sans-serif;
    font-size: 40px;
    margin: 0;
  }

  img {
    display: flex;
    width: 100%;
    height: 70%;
    object-fit: cover;
    position: relative;
  }

  p {
    font-family: "Roboto", sans-serif;
    font-size: 29px;
    margin: 0;
  }

  .p-1 {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 35px;
  }

  .p_deuxieme-div {
    font-size: 30px;
    width: 75%;
  }

  /*Header*/

  header {
    display: flex;
    align-items: baseline;
  }

  .fa-solid.fa-arrow-left {
    font-size: 40px;
    margin: 0px 0px 0px 50px;
    color: black;
  }

  .fa-solid.fa-arrow-left:active {
    text-decoration: none;
    color: black;
  }

  /*Main*/

  .main {
    width: 100%;
    display: flex;
    background-color: #f6f6f6;
    position: absolute;
    flex-direction: column;
    margin: -11.2% 0px 0px 0px;
    border-top-right-radius: 4.5em;
    border-top-left-radius: 4.5em;
  }

  .titre {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 4% 0% 4% 5%;
    gap: 8%;
  }

  .fa-regular.fa-heart {
    font-size: 50px;
  }

  .div_0 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 7% 0px;
  }

  .div_1 {
    width: 95%;
    height: 4em;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 15px;
    margin: 20px 0px 20px 0px;
    font-size: 35px;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 11px 12px 12px -4px rgba(0, 0, 0, 0.09);
    -webkit-box-shadow: 11px 12px 12px -4px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 11px 12px 12px -4px rgba(0, 0, 0, 0.09);
  }

  .div_2 {
    display: flex;
    width: 80%;
    flex-direction: column;
    gap: 6px;
    padding: 0% 0% 0% 4%;
  }

  .div_3 {
    display: flex;
    width: 20%;
    height: 100%;
    padding: 0% 5% 7% 0%;
    justify-content: flex-end;
    align-items: flex-end;
  }
}
